* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #f05b72;
}

header {
    background-color: #f8aba6;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}

p {
    color: #f05b72;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

.index-photo {
    width: 120px;
    height: 120px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f8aba6;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

footer .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

footer .social-links a:hover {
    text-decoration: underline;
}

.hero {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 50px;
    background-image: url('../images/index-background-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 250, 250, 0.600);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    text-align: center;
}

.hero-content h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero-content p {
    margin: 20px 0;
    font-size: 1.2em;
}

.hero-content .btn {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #f05b72;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.hero-content .btn:hover {
    background-color: #f8aba6;
}

.hero-img {
    max-width: 40%;
    border-radius: 10px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.about-logo {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}

.about a {
    display: block;
    margin-top: 15px;
    color: #f05b72;
    text-decoration: underline;
}

.about a:hover {
    color: red;
}

.about a:visited {
    color: red;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdeaea;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.box p {
    margin-bottom: 20px;
    line-height: 1.6;
    overflow: auto;
}

.box img {
    border: 10px solid pink;
    max-width: 30%;
    height: auto;
    margin: 0 20px 20px 0;
    float: left;
}

.box a {
    display: inline-block;
    margin-top: 15px;
    color: #f05b72;
    text-decoration: underline;
}

.box a:hover {
    color: red;
}

.box a:visited {
    color: red;
}

.personal-info {
    padding: 50px 20px;
}

.interests-and-hobbies {
    background-color: #fdeaea;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.interests-and-hobbies h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.interests-and-hobbies p {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
}

.interests-and-hobbies .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.interests-and-hobbies .image-container div {
    display: flex;
    justify-content: center;
}

.interests-and-hobbies img {
    border: 10px solid pink;
    max-width: 30%;
    height: auto;
    margin: 0 20px 20px 0;
    float: left;
}

figcaption {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #f05b72;
    text-align: center;
    margin-top: 10px;
}

.courses {
    padding: 50px 20px;
}

.courses ul {
    list-style-type: disc;
    padding-left: 20px;
}

.courses ul li {
    color: #f05b72;
}

.projects {
    text-align: center;
    padding: 50px 20px;
}

.projects h1,
.projects p {
    margin: 20px 0;
}

.projects ul {
    list-style: none;
    padding: 0;
}

.projects ul li {
    margin: 10px 0;
}

.projects ul li a {
    text-decoration: underline;
    color: #f05b72;
    font-weight: 600;
    transition: color 0.3s ease;
}

.projects ul li a:hover {
    color: red;
}

.form-container {
    border: 1px solid #ccc; 
    padding: 40px;          
    border-radius: 10px;     
    max-width: 500px; 
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(223, 109, 109, 0.1);
    background-color: white;
}

.message box {
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
}

form > * {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

#current-date, #current-time {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: white;
    text-align: center; 
}

button {
    float:right;
    padding: 8px;
    background-color:#f05b72;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#message-history {
    max-width: 500px;
    margin: 20px auto;
}

button:hover {
    background-color: red;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
    vertical-align: left;
    margin-right: 10px;
}

.empty-img {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: left;
    margin-right: 10px;
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }

    .hero {
        flex-direction: column;
    }

    .hero-content {
        max-width: 100%;
        text-align: center;
    }

    .hero-img {
        max-width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 769px) {
    body {
        width: 80%;
        max-width: 1200px;
        margin: auto;
    }
}
